@import url('https://fonts.googleapis.com/css?family=Poppins');

/** Basic CSS **/

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  font-size: 2em;
  position: relative;
  background-color: #ffffff;
  font-size: 16px;
  padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

/** Header - Nav **/

nav .nav-center {
  margin-right: 2px;
}

header .navbar {
  float: none;
  margin:0 auto;
  display: block;
  text-align: center;
}

header .navbar > li {
  display: inline-block;
  float: none;
}

header .navbar-default {
  border: none;
  padding: 15px 0;
}

header .menu li > a {
  background-color: transparent;
  color: #3e3c3c;
  transition: all .7s linear;
  -webkit-transition: all .7s linear;
  -moz-transition: all .7s linear;
  -o-transition: all .7s linear;
}

header .menu li > a:hover {
  background-color: #ffb030;
  color: #f5f9ef;
  transform: rotateX(360deg);
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
}

.navbar-default .navbar-nav > li > a {
  color: #f5efef;
}

.ticketify-brand {
  position: absolute;
  left: -200px;
  transition: left .7s linear;
  -webkit-transition: left .7s linear;
  -moz-transition: left .7s linear;
  -o-transition: left .7s linear;
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
  color: #ffb030;
}

/** Main **/

.main {
  max-width: 1170px;
  margin: 20px auto 30px auto;
  padding: 30px 0 30px 2px;
  height: auto;
}

#back-to-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(43, 89, 162, 0.8) url(../images/top-arrow.svg) no-repeat center 50%;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, background .5s ease;
  -moz-transition: opacity .3s 0s, background .5s ease;
  -o-transition: opacity .3s 0s, background .5s ease;
  transition: opacity .3s 0s, background .5s ease;
}

#back-to-top:hover {
  background: rgba(233,235,236, 0.9) url(../images/top-arrow.svg) no-repeat center 50%;
}

#back-to-top.show {
  opacity: 2;
}

/**  Footer **/

footer {
  font-size: .8em;
  padding: 20px 40px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #ffb030;
  color: #eeebeb;
  max-width: 1170px;
  margin: 20px auto 0 auto !important;
}

footer a {
  color: #eeebeb;
}

footer .terms {
  background-color: #ffb030;
  border: none;
  margin-bottom: 15px;
}

footer .navbar {
	margin-bottom: 0;
	min-height: 0;
}

/** LoginForm **/

.login-form,
.register-form {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.btn-login,
.btn-register {
  background-color: #ffb030;
  color: #ffffff;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
}

.btn-login:hover,
.btn-register:hover {
  background-color: #f5efef;
  color: #ffb030;
  transform: perspective(500px) translate3d(0, 0, 50px);
  -webkit-transform: perspective(500px) translate3d(0, 0, 50px);
  -moz-transform: perspective(500px) translate3d(0, 0, 50px);
  -o-transform: perspective(500px) translate3d(0, 0, 50px);
}

/**  Custom responsive media queries **/

@media only screen and (min-width: 768px) {
  #back-to-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  #back-to-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}